<%- include('partials/_header') %>

  <header class="p-5">
    <div>
        <label for="exampleFormControlInput1" class="form-label">Enter Todo</label>
        <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Enter Something 😊">
    </div>
  </header>

  <main class="px-5">

    <ul class="list-group">

        <li class="list-group-item mt-1">
            <a class="" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                Buy groceries
            </a>
        </li>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                Details regarding groceries to buy
            </div>
        </div>

        <li class="list-group-item mt-1">
            <a class="" data-bs-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="false" aria-controls="collapseExample1">
                Watch a show
            </a>
        </li>
        <div class="collapse" id="collapseExample1">
            <div class="card card-body">
                Details regarding show to watch
            </div>
        </div>

    </ul>

  </main>

<%- include('partials/_footer') %>
